body {
	max-width: 350px;
	margin: 10px auto;
	background-color: #008;
}

#exit {
  margin: 0 10px 0 0;
  background-color: #f77;
  font-size: 18px;
  float: left;
}

#score {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

#start {
  font-size: 40px;
  border-radius: 5px;
  background-color: #f77;
  color: #fdd;
  position: absolute;
  top: 200px;
  left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
